# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore all storage files and directory entirely
/storage/

# Ignore private alternate scraper versions
trade_parser2.py
trade_updates_scraper2.py
